@model IEnumerable<Raporter.Models.Raporty>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Uzytkownicy.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRaportu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tresc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Uzytkownicy.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRaportu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Temat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tresc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RaportyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RaportyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RaportyID })
        </td>
    </tr>
}

</table>
