@model IEnumerable<Raporter.ViewModels.UsersListViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ViewUrz</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/createRap.css" />
    <link rel="stylesheet" href="~/Content/buttonsRed.css" />
    <link rel="stylesheet" href="~/Content/TabeleSzablon_Raporty.css" />
</head>
<body>
    @Html.ActionLink(linkText: "Powrót do listy", actionName: (string)@Session["TypWidoku"], controllerName: "UserRaportsView", routeValues: null, htmlAttributes: new { @class = "button marginForHeaderButtons" })

    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.uzytkownik.Login)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.uzytkownik.Imie)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.uzytkownik.Nazwisko)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.funkcja.NazwaFunkcji)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.oddzial.NazwaOddzialu)
                        
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.uzytkownik.Login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.uzytkownik.Imie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.uzytkownik.Nazwisko)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.funkcja.NazwaFunkcji)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.oddzial.NazwaOddzialu)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.uzytkownik.UzytkownicyID })
                    </td>
                </tr>
            }
        </table>
    </div>

</body>
</html>
